.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  position: relative;
  top: 80px;
}
.movie-title {
  display: flex !important;
  justify-content: space-between !important;
}
.form{
  display: flex;
  justify-content: center;
  padding-left: 300px;
  gap: 20px;
}